<div class="container">
    <div class="news-info">
        Последние новости
    </div>
    <div class="news-blog">
        <div class="news">
            <ul>
                <li><div class="news-body">
                    <div class="news-date">25.03.2023</div>
                    <div class="news-title">Почему Вам стоит использовать нашу систему</div>
                    <div class="news-text"> 
                        Друзья, хотите управлять своим автомобилем эффективно и экономить деньги? Объединитесь вместе решайте проблемы вместе! Узнайте, почему это нужено каждому
                    </div>
                    <a href="">Читать дальше...</a>
                </div>
                </li>
                <li>
                    <div class="news-body">
                        <div class="news-date">21.03.2023</div>
                        <div class="news-title">Наша компания запускает новую функцию сбора заявок для других автомбильных компаний</div>
                        <div class="news-text"> 
                            Сегодня Мы рады объявить о запуске новой функции, которая позволяет автомобилистам быстро и легко создавать заявки на управляющие компании.                        </div>
                        <a href="">Читать дальше...</a>
                    </div>            
                </li>
            </ul>
        </div>
    </div>
</div>
