<div class="container">
    <div class="news-info">
        Последние новости
    </div>
    <div class="news-blog">
        <div class="news">
            <ul>
                <li><div class="news-body">
                    <div class="news-date">25.03.2023</div>
                    <div class="news-title">Почему ОСИ нужен в каждый дом</div>
                    <div class="news-text"> 
                        Друзья, хотите управлять своим домом эффективно и экономить деньги? Объединитесь вместе с ОСИ и решайте проблемы вместе! Узнайте, почему ОСИ нужен в каждый дом
                    </div>
                    <a href="">Читать дальше...</a>
                </div>
                </li>
                <li>
                    <div class="news-body">
                        <div class="news-date">25.03.2023</div>
                        <div class="news-title">Почему ОСИ нужен в каждый дом</div>
                        <div class="news-text"> 
                            Друзья, хотите управлять своим домом эффективно и экономить деньги? Объединитесь вместе с ОСИ и решайте проблемы вместе! Узнайте, почему ОСИ нужен в каждый дом
                        </div>
                        <a href="">Читать дальше...</a>
                    </div>            
                </li>
            </ul>
        </div>
    </div>
</div>
