*{
    color: white;
    background-color: rgb(7, 5, 20);
    height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer-top{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 50px;

}
.footer-text{
    gap: 10px;
}
.footer-text .footer-title-main{
    font-size: 40px;
    font-weight: 800;
}

.footer-subtitle{
    width: 320px;
    font-weight: 200;
}



.footer-bottom{
    padding-top: 50px;
    padding-left: 100px;
    font-weight: 100;
    margin-top: -1px;
}
@media (max-width: 720px) {
    *{
    bottom: 0;
    position: absolute;
    width: 680px;
    color: white;
    background-color: rgb(7, 5, 20);
    height: 5vh;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    }
    body{
        background-color: black;
    }
    
    .footer-top{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        /* padding-top: 20px; */
        
    }
    .footer-bottom{
        /* height: 200px; */
        padding-left: 40px;
        margin-top: -1px;
    }
    /*
    .footer-text{
        gap: 10px;
    } */
    .footer-text .footer-title-main{
        font-size: 24px;
        font-weight: 800;
    }
    
    /* .footer-subtitle{
        font-size: 12px;
        font-weight: 200;
    }
    .footer-bottom{
        font-size: 12px;
    } */
}