<div class="header">
    <div class="header-navbar">
        <!-- <div class="header-name">ОСИ</div> -->
        <!-- <div class="header-subtitle">Объединение собственников имущества</div> -->

        <div class="user-control">
            <div class="authorization"><a routerLink="/login">Войти</a></div>
        </div>
    </div>

    

    <div class="main">
        <div class="header-title">Управляйте своим домом</div>
        <div class="submain">
            <div class="header-stats">
                <ul>
                    <li><strong>792 894</strong><span>Домов</span></li>
                    <li><strong>2 125 454</strong><span>владельцев</span></li>
                    <li><strong>4 115 397</strong><span>жильцов</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>