@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  background-image: url('../../../assets/img/domb.jpg');

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  
  color: white;
}

.main {
  width: 100%;
  position: relative;
  top: 25%;
  margin: 0 auto;
}

.submain {
  width: 100%;
  position: relative;
  top: 75%;
  margin: 0 auto;
}
/* .header img{
  opacity: 1;

} */
.header-name img{
  filter: blur(10px);
}
.header-navbar{
  display: flex;
  padding-left: 30px;
}
.header-name{
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  padding: 25px;
}

.user-control{
  position: relative;
  display: flex;
  text-align: center;
  padding: 25px;
  left: 82%;
}
.user-control a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 10px 20px;
  border-radius: 100px;
  border: 3px solid rgb(255, 255, 255);
}

.header-subtitle{
  position: relative;
  /* margin-left: 10%; */
  font-size: 1vw;
  padding-top: 50px;
}
.header-title{
  font-size: 4vw;
  font-weight: 700;
  /* margin-left: 25%; */
  margin-top: 2%;
  text-align: center;
}

.header-stats{

  font-size: 1.3vw;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 10%;
  width: fit-content;
  text-align: center;
}
.header-stats ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 300px;
}
.header-stats ul li{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

@media (max-width: 720px) {
  body{
    width: 720px;
    display: flex;
    flex-direction: column;
  }
  .header {

    /* width: auto;
    height: auto; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    background-image: url('../../../assets/img/domb.jpg');
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  
    
    color: white;
  }
  .header-title{
    font-size: 7vw;
    font-family: 'Russo One', sans-serif;
    /* font-weight: 700; */
    text-align: center;
    margin-left: -1%;
    margin-top: 2%;
  }
  .user-control{
    position: relative;
    display: flex;
    text-align: center;
    padding: 25px;
    left: 70%;
  }
  .user-control a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px 20px;
    border-radius: 100px;
    border: 3px solid rgb(255, 255, 255);
  }
  .header-stats{
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 10%;
    width: fit-content;
    text-align: center;
  }
  .header-stats ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .header-stats ul li{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}