<div class="header">
    <div class="header-navbar">
        <div class="header-name"><a href="/" style="text-decoration: none; color: black">ОСИ</a></div>
    </div>

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Авторизация</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form (ngSubmit)="onSubmit()">
          
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input [(ngModel)]="iin" type="iin" name="iin" placeholder="ИИН" required/>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input [(ngModel)]="password" type="password" name="password" placeholder="Пароль" required />
          </div>

              <div class="input_field radio_option">
              <input type="radio" name="radiogroup1" id="rd1" checked>
              <label for="rd1">Жилец</label>
              <input [(ngModel)]="lord" type="radio" name="radiogroup1" id="rd2" value="lord">
              <label for="rd2" >Администратор</label>
              </div>
          <input class="button" type="submit" value="Войти" />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom">© 2023 Все права защищены</div>