<br><br><br>
<div class="container">
    <div class="potential-info">
        Возможности открывающиеся благодаря ОСИ
    </div>
    <div class="potential-blog">
        <div class="potential">
            <ul>
                <li><div class="potential-body">
                    <img src="../../../assets/img/2.bmp" alt="">
                </div>
                </li>
                <li>
                    <div class="potential-body">
                        <img src="../../../assets/img/1.bmp" alt="">

                    </div>            
                </li>
                <li>
                    <div class="potential-body">
                        <img src="../../../assets/img/3.bmp" alt="">

                    </div>            
                </li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>
