<div class="container">
    <div class="feedback-info">
        ЛикБез
    </div>
    <div class="feedback-blog">
        <div class="feedback">
            <ul>
                <li><div class="feedback-body">
                    <div class="feedback-title">Что такое ОСИ?</div>
                    <div class="feedback-text"> 
                        ОСИ — это некоммерческая организация, объединение собственников имущества в многоквартирном жилом доме для управления общим имуществом. Для создания ОСИ нужно зарегистрировать юридическое лицо – некоммерческую организацию. Далее, на собрании необходимо избрать председателя на один год. В обязательном порядке им должно быть физическое лицо. Выбранный человек действует на основании доверенности, выданной всеми собственниками квартир и нежилых помещений. Главное отличие ОСИ - это не юридическое лицо.
                    </div>
                    
                </div>
                </li>
                <li>
                    <div class="feedback-body">
                        <div class="feedback-title">Как работает ОСИ?</div>
                        <div class="feedback-text"> 
                            ОСИ работает на основе централизованной базы данных, которая содержит всю необходимую информацию о доме: квартиры, жильцы, расходы, счета и т.д. Жильцы могут управлять своими счетами, отправлять заявки на ремонт и другие услуги, получать уведомления об изменениях в доме и прочее через веб-сайт или мобильное приложение.
                            <br>
                            Управляющие компании могут использовать ОСИ для учета расходов, сбора платежей, составления отчетов и многого другого. Система также позволяет управляющим компаниям эффективно взаимодействовать с жильцами, отслеживать выполнение заявок и быстро реагировать на проблемы.
                            <br>
                            Все данные в системе ОСИ хранятся в защищенном режиме, что гарантирует безопасность информации и защиту конфиденциальности жильцов. Кроме того, система регулярно обновляется и дорабатывается, чтобы соответствовать всем современным требованиям и удовлетворить все потребности пользователей.
                        </div>
                    </div>            
                </li>
                <li>
                    <div class="feedback-body">
                        <div class="feedback-title">Как стать пользователем ОСИ?</div>
                        <div class="feedback-text"> 
                            Чтобы стать пользователем ОСИ, необходимо зарегистрироваться на официальном сайте системы. Для этого нужно перейти на страницу регистрации, заполнить все необходимые поля формы, подтвердить свой электронный адрес и создать логин и пароль. После этого вы сможете войти в систему и начать использовать все ее возможности. Если у вас возникнут трудности при регистрации или использовании системы, вы всегда можете обратиться в службу технической поддержки, где вам помогут решить любую проблему.                        </div>
                    </div>            
                </li>
            </ul>
        </div>
    </div>
</div>