<div class="container">
    <div class="feedback-info">
        ЛикБез
    </div>
    <div class="feedback-blog">
        <div class="feedback">
            <ul>
                <li><div class="feedback-body">
                    <div class="feedback-title">Что такое РЭО Дорожной Полиции?</div>
                    <div class="feedback-text"> 
                        Регистрационно-экзаменационный отдел дорожной полиции (РЭО) – это подразделение дорожной полиции, которое занимается регистрацией транспортных средств и организацией экзаменов на получение водительских удостоверений.

В РЭО можно получить регистрационные документы на транспортное средство (например, техпаспорт или свидетельство о регистрации), а также получить разрешение на управление определенными категориями транспортных средств после сдачи экзаменов на права.

РЭО также занимается контролем за соблюдением правил дорожного движения и технического состояния транспортных средств. Если нарушения выявляются, то водители могут быть оштрафованы или даже лишены прав на управление транспортным средством.
                    </div>
                    
                </div>
                </li>
                <li>
                    <div class="feedback-body">
                        <div class="feedback-title">Как работает РЭО Дорожной Полиции?</div>
                        <div class="feedback-text"> 
                            1. Регистрация транспортных средств: пользователь может зайти на веб-сайт РЭО и зарегистрировать свое транспортное средство, загрузив соответствующие документы и информацию о машине. Система РЭО могла бы проверить информацию и выдать соответствующий регистрационный документ.
<br>
2. Запись на экзамен: пользователь также может использовать веб-приложение, чтобы записаться на экзамен на получение водительского удостоверения. Система могла бы предложить свободные даты и время, а пользователь может выбрать удобное для себя.
<br>
3. Сдача экзамена: при подходе к экзамену, пользователь может использовать веб-приложение для прохождения теоретической части теста. Для практической части экзамена, пользователь может использовать свое транспортное средство, и инспектор РЭО может оценить навыки вождения.
<br>
4. Получение водительского удостоверения: Если пользователь успешно прошел экзамен, то он может получить водительское удостоверение через веб-приложение. Это могло бы быть электронное удостоверение, которое можно распечатать или сохранить в мобильном устройстве.
<br>
5. Контроль за транспортными средствами: через веб-приложение, РЭО могло бы проводить контроль за транспортными средствами, проверять их техническое состояние и выявлять нарушения правил дорожного движения. Пользователи также могли бы использовать веб-приложение для получения информации о штрафах и нарушениях, если они имеются.
                        </div>
                    </div>            
                </li>
                <!-- <li>
                    <div class="feedback-body">
                        <div class="feedback-title">Как стать пользователем ОСИ?</div>
                        <div class="feedback-text"> 
                            Чтобы стать пользователем ОСИ, необходимо зарегистрироваться на официальном сайте системы. Для этого нужно перейти на страницу регистрации, заполнить все необходимые поля формы, подтвердить свой электронный адрес и создать логин и пароль. После этого вы сможете войти в систему и начать использовать все ее возможности. Если у вас возникнут трудности при регистрации или использовании системы, вы всегда можете обратиться в службу технической поддержки, где вам помогут решить любую проблему.                        </div>
                    </div>            
                </li> -->
            </ul>
        </div>
    </div>
</div>