<div class="example-action-buttons">
  </div>
  <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Зарегестрировать пользователя
        </mat-panel-title>
        <mat-panel-description>
          Поставить на учёт автомобиль
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="reg">
        <app-register-user>
        
        </app-register-user>
      </div>
  
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Добавить собственника
        </mat-panel-title>
        <mat-panel-description>
          Поставить на учёт автомобиль
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-add-client></app-add-client>
  
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Поставить на учёт автомобиль
          </mat-panel-title>
          <mat-panel-description>
            Если нужно только один автомобиль поставить на учёт для зарегестрированного пользователя
            <mat-icon>add_comment</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <form class="example-form">
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>ИИН</mat-label>
              <input matInput>
            </mat-form-field>
          </td>

        </table>
  
          <h3>Добавить Автомобиль</h3>
                  <mat-form-field class="example-full-width">
                    <mat-label>Марка автомобиля</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Номер автомобиля</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Доп. информация</mat-label>
                    <input matInput>
            </mat-form-field>
  
          <div class="userSubmit">
              <button mat-fab extended color="primary">
                  <mat-icon>send</mat-icon>
                  Подтвердить
              </button>
          </div>
        </form>
    
      </mat-expansion-panel>
  </mat-accordion>
  


  